
nav {
background: #0B1F3A;
text-align: center;
position: fixed;
top: 0;
width: 100%;
z-index: 10;

}


body {
background: #102541;
color: #bdbdbd;
font-size: 18px;

}

.folderBox {
background-color: #0b1b32;
width: 600px;
position: fixed;
padding-top: 300px;
height: 100%;
z-index: 20;

}


.folderLi {
text-shadow: 2px 1px 2px #000;
font-size: 80px;
height: 130px;
margin-left: -40px;
padding-left: 20px;
padding-top: 40px;
list-style: none;

}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.NavCircleButton{
    background-color: #cacaca;
    border-radius: 100%;
    border: 0;
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 200px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin-left: 90px;
    margin-top: 40px;

}


.NavCircleButtonNote{
    background-color: #cacaca;
    border-radius: 100%;
    border: 0;
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 200px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin-left: 1500px;
    margin-top: 40px;

}

h1 {
    font-size: 100px;
}


h2 {
    font-size: 80px;
}

.noteName {
    font-size: 50px;
    /*color: #bdbdbd;*/
    
}

.noteSummary {
    position: relative;
    padding-top: 20px;
    z-index: 1;   
    
}

.noteLi {
    background-color: #010d1e;
    font-size: 40px;
    height: 100px;
    margin-left: -40px;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 40px;
    list-style: none;
    width: 2000px;

}


.noteName {
    background-color: #010d1e;
    font-size: 80px;
    font-weight: bolder;
    height: 100px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 40px;
    list-style: none;
    width: 2000px;

}

.remove {
    float: right;
    /*padding-right: 235px;*/
    height: 25px;
    /*margin-top: -200px;*/
    padding-top: 55px;
    margin-right: -50px;
}

.removeButton {
    height: 80px;
    background: #0B1F3A;
    border-color:  #0B1F3A;
    color: #cacaca;
    font-size: 50px;
    transform: rotate(-90deg);
    float: inherit;
    /*padding-bottom: 50px;
    /*padding-top: 25px;*/
    /*padding-left: 56px;*/
    padding-right: 56px;
    
    

}
.number {
    font-size: 12px;
    float: right;
}


.noteDetail {
    background-color: white;
    margin-top: 100px;
    margin-left: 1000px;
    width: 100%;
}

.content {
    color: #000;
    font-size: 50px;
    width: 2000px;
    list-style: none;
    padding: 20px;
}

.noteFolderTitle {
    font-size: 100px;
    color: #000;
    text-align: center;
    margin-right: 0;
    padding-top: 200px;
    margin-bottom: -400px;
}

.folderButton  {
    color: #cacaca;
    background-color: #010d1e;
    font-size: 80px;
    height: 130px;
    border: none;
    width: 570px;
    text-align: left;
    padding-left: 50px;
    
}

.noteList {
    padding-top: 350px;
    margin-left: 1000px;
}



.noteButton {
    background-color: #010d1e;
    font-size: 80px;
    font-weight: bold;
    color: #cacaca;
    text-align: left;
    width: 2000px;
    border: none;
}


input {
    width: 1000px;
    height: 100px;
}

select {
    width: 1000px;
    height: 100px;
    color: black;
    font-size: 60px;
}

form {
    width: 1005px;
}


label {
    color: #cacaca;
    font-size: 60px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.inputBox {
    background-color: #1D3656;
    width: 1050px;
    padding: 20px;
}


.addNoteFormButton {
    background-color: #010d1e;
    width: 500px;
    height: 100px;
    border: none;
    border-radius: 15px 15px 15px 15px;
    color: #cacaca;
    font-size: 60px;
    font-weight: bold;

}


.inputItems {
    padding-top: 50px;
    list-style: none;
}
